*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: sans-serif;
  outline: none;
}

.Container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Calculator{
  background-color: aliceblue;
  padding: 12px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px white, 
                    0.5px 0.5px 12px rgba(0,0,0,.20);
  display: grid;
  grid-template-columns: repeat(4, 68px);
  
}

input{
  grid-column: span 4;
  height: 80px;
  width: 260px;
  background-color: aliceblue;
  box-shadow: inset -5px -5px 12px white,           
              inset 5px 5px 12px rgba(0,0,0,.16);
  border: none;
  border-radius: 20px;
  color: rgb(70,70,70);
  font-size: 45px;
  text-align: end;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
}

button{
  height: 48px;
  width: 48px;
  background-color: aliceblue;
  box-shadow: -5px -5px 12px white, 
               5px 5px 12px rgba(0, 0,0,.20);
  border: none;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
}

.equal{
  width: 115px;
  border-radius: 40px;
  font-size: 20px;
}

